{% extends 'base.html.twig' %}
{% form_theme formTrick 'bootstrap_4_layout.html.twig' %}
{% block body %}
<h2>Création d'une nouvelle figure</h2>
<section class="trick">
{{ form_start(formTrick) }}

    {{form_row(formTrick.title, {'attr': {'placeholder': "Titre de la figure"}}) }}
    {{form_row(formTrick.category) }}
    {{form_row(formTrick.content, {'attr': {'placeholder': "Contenue de la figure"}}) }}
    {{form_row(formTrick.images, {'attr': {'placeholder': "Contenue de l'image"}}) }}
 {{form_row(formTrick.videos, {'attr': {'placeholder': "Contenue des videos"}}) }}
{{form_row(formTrick.createdAt, {'attr': {'placeholder': "Crée le:"}}) }}

<button type="submit" class="btn-success">
    {% if editMode %}
        Enregistrer
    {% else %}
        Ajouter la figure
    {% endif %}
</button>
  
{{ form_end(formTrick) }}
<hr>
{% endblock %}