{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<h2 class=   class="fa fa-align-center" aria-hidden="true"> Liste des figures: </h2>
{% for trick in tricks %}
    <hr>
    <section class="trick">
        <h3> {{trick.title}} </h3>
        <div class="metadata">Ecrit le {{trick.createdAt| date('d/m/Y')}} à {{trick.createdAt| date('H:i')}}dans la catégolie </div>
        <div class="content">    
            <p>{{ trick.content| raw }}</p>
        
        <a href="{{ path('trick_show', {'id': trick.id}) }}" class="btn btn-primary">Lire la suite</a>
        {% if app.user %}
        <a href="{{ path('trick_edit', {'id': trick.id}) }}" class="btn btn-primary">Modifier</a>
        <a href="{{ path('trick_delete', {'id': trick.id}) }}" class="btn btn-primary"> Supprimer </a>
        {% endif %}
        </div>
    
    </trick>

{% endfor %}
{% endblock %}
