 <!-- start Tricks -->
<hr>
                <!--===== -->
                 <span class="tricks-anchor" id="tricks"></span>
    <div class="container p-5">
        <div class="row">
                {% for trick in tricks %}
                        <div class="content">
                            <div class="card">
                                <a href="{{ path('trick_show', {'id': trick.id}) }}"><img class="card-img-top home" src="/uploads/{{ trick.image }}" alt="Trick"></a>
                                <div class="card-body test">
                                    <a class="btn btn-outline-info btn-sm trick-link" href="{{ path('trick_show', {'id': trick.id}) }}" target="_blank">{{ trick.title }}</a>
                                    {% if (app.user) %}
                                        <a class="float-right change-link ml-2 pt-2"  href="{{ path('trick_delete', {'id': trick.id}) }}"><i class="fas fa-trash-alt fa-2x text-info"></i></a>
                                        <a class="float-right change-link ml-2 pt-2" href="{{ path('trick_edit', {'id': trick.id}) }}" target="_blank"><i class="fas fa-pen fa-2x"></i></a>
                                    {% endif %} 
                                </div>
                            </div>
                        </div>  
                 
                {% endfor %}
                   </div>
        <div class="container">
                <div class="row justify-content-center m-3">
                    <a href="#" id="loadMoreTrick"><i class="fas fa-plus-circle fa-3x"></i></a>
                    <a href="#" id="loadLessTrick"><i class="fas fa-minus-circle fa-3x"></i></a>              
                </div>
            </div>          
        </div>         
    </div>
    <div class="container-fluid cup">
        <a href="#tricks">
            <i class="fas fa-chevron-up fa-4x chevron-up"></i>
        </a>
    </div>